arch-eval-benchmark/
/consul/
/spring-framework/
/zookeeper/
/kubernetes/
/tensorflow/
/kafka/
/istio/
scratch/
target/

# LaTeX
report/*.aux
report/*.log
report/*.out
report/*.fls
report/*.fdb_latexmk
report/*.synctex.gz
report/*.bbl
report/*.blg
report/*.toc
report/*.pdf
!report/sampleteaser.pdf
!report/acmguide.pdf